<ng-container *ngIf="user$ | async as user" >
    <div class="card" [@fadeIn]>
        <div class="row g-0">
            <div class="col-md-6 col-lg-6">
                <img [src]="user.profilePicture" class="img-fluid rounded-start"
                    [alt]="user.name + 's profile picture'">
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <div [innerHtml]="user.bio | markdown"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>